/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: rgba(178, 87, 113, 1);
} 

.site-header {
	background-color: rgba(255, 175, 198, 1);
}  


/*nav*/
.head-brand {
	margin: 0 auto;
}
.head-brand {
	display: block;
	width: 201px;
	height: 83px;
	background-image: url(../img/LOGO.png); 
	background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
	.head-brand {
		width: 592px;
		height: 240px;
		background-image: url(../img/LOGO-large.png);
		}
}

.nav {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .2em;
	font-weight: bold;
	padding-left: 0;
}	
	

	
.accordian-link {
	text-decoration: none;
	background-color: #fff7f2;
	padding: 30px;
	display: block;
	margin-top: -40px;
}

#direction-link {
	margin-top: 0;
	margin-bottom: -40px;
	background-color: rgba(149, 232, 148, 1);
}

#food-link {
	background-color: rgba(175, 255, 185, 1);
	margin-top: 0;
}


#drink-link {
	background-color: rgba(124, 232, 152, 1);
}


#information-link {
	background-color: rgba(151, 255, 192, 1);
}

@media screen and (min-width: 480px) {
	#information-link:hover {
		background-color: #000;
	}
	
	#drink-link:hover {
		background-color: #000;
	}
	
	#food-link:hover {
		background-color: #000;
	}
	
	#direction-link:hover {
		background-color: #000;
	}
}


.accordian-link.is-active {
	color: #fff;
	background-color: #000 !important;
}

.accordian-link:visited, .is-active {
	color: #000;
}



@media screen and (max-width: 768px) {
	.nav {
		font-size: 20px;
		padding-bottom: 8px;
	}
}


/*image*/
.flexslider {
	background: transparent;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: inherit;
	-webkit-box-shadow: inherit;
}



.slides {
	background-color: rgba(105, 178, 114, 1);
}

.slides,
.slides li {
	margin-bottom: 0;
}

 

.food-img img{
	display: inline-block;
	width: 49%;
	height: auto;
}

/* min-width means screen is larger than 768px */
@media screen and (min-width: 768px) {
	.food-img img {
		width: 24.5%;
	}
}

/*information and direction*/
.information-content {
	font-size: 24px;
	padding: 5px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}

#information-link {
	margin-bottom: 0;
}

.information-content h3:first-child {
	margin-top: 0;
}

.information-content h3 {
	font-family: 'Ubuntu', sans-serif;
}

.direction-content {
	padding-top: 20px;
}

.direction-content p {
    font-size: 24px;
	padding: 5px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Roboto Condensed', sans-serif;	
}

@media screen and (max-width: 768px) {
	.information-content, 
	.information-content h3,
	.direction-content p {
		font-size: 15px;
	}
	
	.flexslider {	
		margin-bottom: 30px;
	}
	
	.flex-control-nav {
		bottom: -30px;
	}
	
	.flex-control-paging li a {
		width: 9px;
		height: 9px;
	}
	
}


/*menu and drink*/


.dish-heading,
.drink-heading {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13.3px;
	line-height: 18px;
	letter-spacing: .15em;
	text-transform: uppercase;
	width: 80%;
}

/* max-width means screen is smaller than 768px */
@media screen and (max-width: 768px) {
	.dish-heading {	
	}
}

.dish-desc,
.drink-desc {
    width: 80%;
	margin-bottom: 0;
	font-style: italic;
	font-size: 13.3px
	line-height: 18px;
	padding-top: -5px;
}

.class-item,
.drink-item {
	border-top: 1px solid black;
	padding-top: 5px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}

.class-item:first-child,
.drink-item:first-child {
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}

.menu-list,
.drink-list {
	padding: 46px;
}

.dish-price,
.drink-price {
	top: 24px;
	right: 24px;
	position: absolute;
	width: 10%;
	text-align: right;
	margin: 0;
	
}

.class-item:first-child .dish-price
.drink-item:first-child .drink-price {
	top: 0;
}

.menu-heading,
.drinksmenu-heading {
	text-align: center;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
    letter-spacing: .1em;
    margin: -5px;
}

.menu-list {
	margin-top: -5px;
	margin-bottom: -5px;
}


@media screen and (max-width: 768px) {
	.menu-heading,
	.drink-heading {
		font-size: 15px;
	}
}

.drink-list {
	margin-top: -5px;
	padding-top: 5px;
}

/*whole*/

.nav li {
	display: block;
}

.container {
	background-color: rgba(87, 178, 98, 1);
	padding-bottom: 20px;
}

/*social*/

.social{
	
	padding: 0;
	margin: 0;
}

.social li {
	float: left;
}

.social-twitter {
	display: block;
	background-image: url(../img/twitter.png);
	height: 72px;
	width: 72px;
	background-repeat: no-repeat;
	margin-right: 10px;
}

 .social-facebook {
	display: block;
	background-image: url(../img/facebook.png);
	height: 72px;
	width: 72px;
	background-repeat: no-repeat;
	margin-right: 10px;
 }

.social-instagram {
	display: block;
	background-image: url(../img/instagram.png);
	height: 72px;
	width: 72px;
	background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
	.social-facebook {
	margin-right: 0px;
	height: 40px;
	width: auto;
	background-image: url(../img/facebook_small.png)	}
	.social-twitter {
	margin-right: 0px;
	height: 40px;
	width: auto;
	background-image: url(../img/twitter_small.png)     }
	.social-instagram {
    height: 40px;
	width: auto;
	background-image: url(../img/instagram_small.png)   }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
